<html>

<head>
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="/script/alert.js"></script>
    </head>
<div>
    <h1>Bonjour!</h1>
    {{#each image as |img|}}
    <img src=/images/{{ img }} alt="picture" />

    {{/ each}}
</div>

</html>